aiohttp==3.14.3
pycryptodome==3.23.0
customtkinter==6.0.0
CTkMessagebox==2.7
Pillow>=10,<13
sv_ttk==2.6.1
ffmpeg-python==0.2.0
python-mpv==1.0.8
yt-dlp
Flask==3.1.3
flask-cors==6.0.5
Werkzeug==3.1.8
requests==2.34.2
pywin32==312
pynput==1.8.2
pystray==0.19.5
win11toast==0.36.3
winsdk==1.0.0b10
pypresence==4.6.2
pyinstaller==6.22.2
rpgp-py==0.20.0
urllib3==2.6.3